h3, p, div {
  font-family: 'Open Sans';
}

body {
  margin: 0;
  font-family: 'Open Sans';
}

.landing-page {
  width: 100%;

  &__header {
    background-image: url('https://goo.gl/xDfIog');
    background-size: contain;
    height: 500px;
    margin-bottom: 5%;
    margin-left: -100%;
    margin-right: -39%;
    max-width: 151vw;
  }

  &__horizontal-text {
    margin-left: 25%;
    margin-right: 25%;
  }

  &__horizontal-img {
    height: auto;
    margin-left: 50px;
    width:250px;
  }

  &__vertical-container {
    margin-top: 10%
  }

  &__vertical-text {
    float: right;
    margin-left: 10%;
    margin: 0;
    padding-top: 100px;
    width: 70%;
  }

  &__vertical-img {
    height: inherit;
    width:250px;
  }
}

.app-container {
  margin: auto;
  width: 960px;
}

.footer {
  margin-left: 10%;
}

.navbar {
  font-family: 'Architects Daughter';

  &__container {
    padding: 10px;
  }

  &__dropdown-button {
    background: none;
    border-radius: 2px;
    border: 10px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: inline-block;
    letter-spacing: 0px;
    line-height: 36px;
    margin-top: 13px;
    margin: 10px 24px;
    min-width: 88px;
    outline: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    padding: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transform: translate3d(0px, 0px, 0px);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    vertical-align: middle;
  }

  &__title {
    color: #3a3a3c;
    font-family: 'Patua One', cursive;
    font-weight: bold;
    margin-top: 10;
    padding: 0;
    position: relative;
    text-decoration: none;
    width: 1100;
  }
}

button.modal-button {
  color: #616161 !important;
}

.nav-menu__button {
  color: white;
}

.add-todo {
  &__button {
    margin: 12px;
  }
}

.add-todo {
  &__button {
    margin: 12px;
  }
}

.todo-list {
  list-style-type: none;

  &__item {
    margin: 10px;
    text-align: vertical-text;
    color: #616161;
  }

  &__text {
    position: relative;
    top: 6px;
  }

  &__wrapper {
    display: inline-block;
    line-height: 20px;
    position: relative;
    top: -12px;
  }
}

.todo-item__checkbox {
  width: 40px;
  display: inline-block;
}

.material-icons {
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  &__delete, &__edit {
    color: #616161;
    cursor: pointer;
    position: relative;
    top: 11px;
  }
}
