body {
  margin: 0;
}

.app-container {
  margin: auto;
  width: 960px;
}

.footer {
  margin: auto;
  width: 960px;
}

.todo-list {
  list-style-type: none;

  &__item {
  margin: 10px 0 10px 0;
  text-align: vertical-text;
  }

  &__text {
  position: relative;
  top: -6px;
  line-height: 20px;
  }
}

.material-icons {
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  &__delete, &__edit {
      position: relative;
      top: 4px;
      color: #00BCD4;
      cursor: pointer;
  }
}

.landing-page {
  margin-top: 25%;

  &__login {
    float: right;
    margin-right: 40%;
  }

  &__signup {
    float: left;
    margin-left: 40%;
  }
}
