body {
  margin: 0;
}

.app-container {
  margin: auto;
  width: 960px;
}

.footer {
  margin: auto;
  width: 960px;
}

.navbar {
  background-color: #00B8D4 !important;
  font-family: 'Roboto';

  &__dropdown-button {
    margin-top: 13px;
    color: white;
  }

  &__title {
  text-decoration: none;
  color: white;
  // font-size: 'xx-;large';
  font-weight: 'bold';;
  width: 1100;;
  position: relative;
  margin-top: 10;;
  padding: 0;
  }
}

.todo-list {
  list-style-type: none;

  &__item {
    margin: 10px 0 10px 0;
    text-align: vertical-text;
  }

  &__text {
    position: relative;
    top: -6px;
    line-height: 20px;
  }
}

.navbar__title {
  float: left;
  // margin-right: 100%;
  font-size: 500px;
  // color: #FFFFFF;

}

.material-icons {
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  &__delete, &__edit {
    position: relative;
    top: 4px;
    color: #00BCD4;
    cursor: pointer;
  }
}
